/* Iron Man Color Scheme */
body {
    background-color: #4b0908;
}
.descriptionBackground, .enemyEquivalentWrapper {
    background-color: #340707;   
}

.pieceDescriptionHeader, .enemyEquivalentHeader, .description {
    color: #fbca03;
}


